/* You can add global styles to this file, and also import other style files */
@font-face {
    /* font-family: 'Pixeland';
    src: url('./assets/fonts/Pixeland.ttf') format('truetype'); */
    font-family: 'dogica';
    src: url('./assets/fonts/dogica/dogica.ttf') format('truetype');
  }

a{
    font-family: 'dogica';
}

h1{
    font-family: 'dogica';
}

h2 {
    font-family: 'dogica';
}

p {
    font-family: 'dogica';
}