/* You can add global styles to this file, and also import other style files */
@font-face {
    /* font-family: 'Pixeland';
    src: url('./assets/fonts/Pixeland.ttf') format('truetype'); */
    font-family: 'dogica';
    src: url('./assets/fonts/dogica/dogica.ttf') format('truetype');
  }

a{
    font-family: 'dogica';
}

h1{
    font-family: 'dogica';
}

h2 {
    font-family: 'dogica';
}

p {
    font-family: 'dogica';
}

.greenTextContainer {
    background-color: rgb(196, 247, 166);
    padding: 10px;
    line-height: 1.2;
}

.whiteTextContainer {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    line-height: 1.2;
}
.blackTextContainer {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    line-height: 1.2;
}

.imageWrapper {
    background-color: rgb(0, 0, 0);
    padding: 50px;
}