<div class="greenTextContainer">
    <p>
       this website was created on february 10th, 2025. the last time i updated it was on february 13th, 2025.

   </p>

   <div class="blackTextContainer">
    <span style="color:rgb(255, 255, 255);">
        <p>        i saw a video by {{"@"}}stargirllee on youtube about the indie website universe (highly recommend watching!) <a href="https://www.youtube.com/watch?v=4I48N6pGu2Y&t=857s">here</a> 
            which initially gave me the idea. it's a great outlet for creating and expression and also helps sharpen my front-end skills. 
            also i feel like indie web dev is a great way to keep the internet interesting. i, as i'm sure many others feel, normal social media is so overwhelming and addictive. i would love to see 
            a return to form of internet socializing. personal blogs and what not. anyways - click <a href="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGdzcmQ4Nmc1dmlqYmdrYmduazAzaW04MHBobDZkcmE0emR3djFsNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/IdOommWTSbMmqeVzhH/giphy.gif">this</a> for a cute easter egg.</p>
        <p>if you are interested in seeing what has been updated recently i will be keeping a changelog stored at the bottom right of the page.</p>
        <br>
        thx for visiting,
        <br>
        - noah
    </span>

   </div>

</div>